# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
.temp/
tmp/
